Source: inxi
Section: admin
Priority: extra
Maintainer: Mateusz Łukasik <mati75@linuxmint.pl>
Build-Depends: debhelper (>= 9),
 xsltproc,
 docbook-xsl,
 quilt
Standards-Version: 3.9.4
Homepage: http://techpatterns.com/forums/about1131.html
Vcs-Git: git://github.com/mati75/inxi.git
Vcs-Browser: https://github.com/mati75/inxi.git

Package: inxi
Architecture: all
Depends: ${misc:Depends},
 ${shlibs:Depends},
 procps,
 pciutils,
 gawk
Suggests: ceni,
 x11-xserver-utils,
 mesa-utils,
 irssi | xchat | konversation,
 module-init-tools,
 hddtemp,
 net-tools,
 iproute,
 lm-sensors 
Description: System info script for irc
 Inxi is a system information script for IRC (Internet Relay Chat) clients.
 A system information script can display all kinds of things about your 
 hardware and software to users in a chatroom,  so they can help you diagnose 
 problems, ... or just marvel at your system specs and kernel version ;)
 It was created to serve the need for a infoscript that isn't dependent on a 
 particular irc client. Because most irc clients support the /exec command, a 
 script that runs with /exec would be most portable.
 .
 inxi is a fork of infobash 3.02, the original bash sys info script by locsmif
 As time permits functionality improvements and recoding will occur.
 .
 inxi is tested with Irssi, Xchat, Konversation, BitchX, KSirc, ircII,
 Gaim/Pidgin, Weechat, KVIrc and Kopete.

