Source: inxi
Section: misc
Priority: extra
Maintainer: Debian inxi Maintainers <inxi-devel@lists.alioth.debian.org>
Uploaders: Mateusz Łukasik <mati75@linuxmint.pl>, Unit 193 <unit193@ninthfloor.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4
Homepage: http://code.google.com/p/inxi/
Vcs-Git: git://github.com/mati75/inxi.git
Vcs-Browser: https://github.com/mati75/inxi.git

Package: inxi
Architecture: all
Depends: ${misc:Depends}, bash (>=3.0), gawk, grep, pciutils, procps,  sed
Recommends: dmidecode, file, hddtemp, iproute, lm-sensors,  mesa-utils,
 module-init-tools, net-tools, sudo, usbutils, x11-utils, x11-xserver-utils
Description: full featured system information script (forked from infobash)
 Inxi is a system information script that can display various things about
 your hardware and software to users in an IRC chatroom or support forum.
 It runs with the /exec command in most IRC clients and /inxi in quassel.
